.map {
  height: 520px;
  background-color: white;
  padding: 1rem;
  margin-top: 30px;
  margin-bottom: 16px;
  border-radius: 20px;
  box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.5);
}

.map .leaflet-container {
  height: 100%;
}

.map .leaflet-popup-content {
  width: 210px;
}
.info-flag img {
  width: 150px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: darkslategray;
  margin-top: 2px;
}

.info-flag {
  height: 120px;
  width: auto;
  background-size: cover;
  border-radius: 8px;
}

.info-cases,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}
.info-container {
  width: 211px;
}
